.navbar-transparent {
    background-color: rgba(5, 5, 5, 0.918); /* Fondo semi-transparente negro */
    position: absolute; /* Hace que el Navbar se superponga al header */
    width: 100%;
    top: 0;
    z-index: 1; /* Asegura que el Navbar esté en la capa superior */
}